.flexwrapper {
    margin-left: -1em;
    display: flex;
    justify-content:center;
}

.flexwrapper > section {
	float: right;
	width: 30%;
	border-left: 1em solid #eff5f5;
    box-sizing: border-box;
	margin-bottom: .5em;
	padding-top: 5%;
    padding-bottom: 5%
    
}

.flexwrapper > section:nth-child(1) { background: #a9cc5b; }
.flexwrapper > section:nth-child(2) { background: #39b4e0; }
.flexwrapper > section:nth-child(3) { background: #e4582b; }








/* Decorative bits and bobs */

   @font-face {
    font-family: Driftwood;
    src: url(/font/driftwood.ttf);
}

body { font: 1.125em/1.4 'Source Sans Pro', sans-serif; background: #eff5f5; color: #31656e; text-align: center; padding: 1em 0; }
h1 { font-weight: 600; font-size: 3em; line-height: 1.2; font-family: driftwood;}
h2 { font-weight: 400; font-size: 1em; color: #597a80; text-transform: uppercase; margin: .5em 0 3em; letter-spacing: .25em; }
h3 { font-weight: 700; font-size: 1.3em; color: #597a80; text-transform: uppercase; margin: .1em 0 1em; letter-spacing: .25em; }
